.btn, .more-info i, .btn-pink i, .click-ther:hover, .click-ther i, .filter-home-atr:hover, .offer, .offer .icon, .offert-title, .select-selected:after, .filter-home-atr > .custom-select > .select-selected:after, .select-items div, .select-items div:hover, .open-more-button i, .check-drop-down-wrapper.active > .check-drop-down, .btn-pink > .icon-right, .product-inform {
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    transition: all 0.15s linear
}

.more-info i.active, .btn-pink i.active, .click-ther > .icon-arrow-down.active, .open-more-button i.active {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.flex-wrapper span .come-back-icon {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.logo, .btn-text-blue, .btn-icon-blue, .footer-logo, .zoom-icon, .footer-menu, .All-rights-reserved, .footer-soc-icon, .zoom-logo, header, .messeng-indicator, .inform-link, .add-button, .drop-select-menu.active, .drop-menu.wrapper.active, .drop-section, .offer, .select-selected:after, .listing-title, .come-back-icon, .left, .right, .checkmark, .table, .table-pise-wrapper, .warning, .change-format, .table-wrap, .add-function, .add-function a, .table-wrapper, .th, .flex-wrapper, .flex-wrapper > .btn, .ATM_location a, .compare_name_title, .slider, .ATM_location, .all-conditions, .menu-header, .warning > .icon, .right-border, .add-functions, .prise-title, .total-prise-title, .prise-cont.other-info-wrapper, .wrapper-diogram, .diogram-cont, .price-wrap {
    display: -ms-flexbox;
    display: flex
}

.footer-soc-icon, .zoom-logo, .add-button, .listing-icon, .th.flex-wrapper:last-child, .add-functions, .wrapper.wrapper-diogram {
    -ms-justify-content: flex-end;
    justify-content: flex-end
}

.logo, .th.flex-wrapper > .btn-pink, .footer-menu, .All-rights-reserved, header, .messeng-indicator, .offer, .open-more-button, .come-back-icon, .read-more, .checkmark, .flex-wrapper > .btn, .compare_name_title, .right-border {
    -ms-justify-content: center;
    justify-content: center
}

.btn, .btn-text-blue, .btn-icon-blue, header, .messeng-indicator, .inform-link a, .filter-home > .one > .custom-select > .select-items, .offer, .select-selected:after, .come-back, .open-more-button, .come-back-icon, .left, .right, .read-more, .checkmark, span, .add-function, .add-function a, .th, .flex-wrapper > .btn, .compare_name_title, .all-conditions, .menu-header, .warning > .icon, .right-border, .wrapper.wrapper-diogram, .price-wrap {
    -ms-align-items: center;
    align-items: center
}

.offert-title.uppercase span, .uppercase {
    text-transform: uppercase
}

.text-center {
    text-align: center
}

.contacts .icon, .contacts span {
    display: inline-block;
    vertical-align: middle
}

@font-face {
    font-family: 'Tamoha-reg';
    src: url("../font/TahomaArmenian.eot");
    src: url("../font/TahomaArmenian.eot?#iefix") format("embedded-opentype"), url("../font/TahomaArmenian.woff2") format("woff2"), url("../font/TahomaArmenian.woff") format("woff"), url("../font/TahomaArmenian.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'FedraSansArm-Bold';
    src: url("../font/FedraSansArm-Bold.eot");
    src: url("../font/FedraSansArm-Bold.eot?#iefix") format("embedded-opentype"), url("../font/FedraSansArm-Bold.woff2") format("woff2"), url("../font/FedraSansArm-Bold.woff") format("woff"), url("../font/FedraSansArm-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'FedraSansArm-Light';
    src: url("../font/FedraSansArm-Light.eot");
    src: url("../font/FedraSansArm-Light.eot?#iefix") format("embedded-opentype"), url("../font/FedraSansArm-Light.woff2") format("woff2"), url("../font/FedraSansArm-Light.woff") format("woff"), url("../font/FedraSansArm-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'FedraSansArm-Medium';
    src: url("../font/FedraSansArm-Medium.eot");
    src: url("../font/FedraSansArm-Medium.eot?#iefix") format("embedded-opentype"), url("../font/FedraSansArm-Medium.woff2") format("woff2"), url("../font/FedraSansArm-Medium.woff") format("woff"), url("../font/FedraSansArm-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'FedraSansArm-Book';
    src: url("../font/FedraSansArm-Book.eot");
    src: url("../font/FedraSansArm-Book.eot?#iefix") format("embedded-opentype"), url("../font/FedraSansArm-Book.woff2") format("woff2"), url("../font/FedraSansArm-Book.woff") format("woff"), url("../font/FedraSansArm-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "NoahTT-bold";
    src: url("../font/NoahTT-bold.woff")
}

@font-face {
    font-family: "NoahTT-reg";
    src: url("../font/NoahTT-reg.woff")
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px
}

::-webkit-scrollbar-button {
    background-color: white
}

::-webkit-scrollbar-track {
    background-color: white
}

::-webkit-scrollbar-track-piece {
    background-color: white
}

::-webkit-scrollbar-thumb {
    height: 0px;
    background-color: white;
    border-radius: 0px
}

::-webkit-scrollbar-corner {
    background-color: white
}

::-webkit-resizer {
    background-color: white
}

.hamburger-wrap {
    display: none
}

#hamburger-icon {
    width: 22px;
    position: relative;
    display: inline-block;
    margin: 18px 20px 0 0;
    z-index: 14;
    transition: height 1s;
    height: 25px;
    -webkit-transition: height 1s;
    -moz-transition: height 1s
}

#hamburger-icon a {
    text-decoration: none;
    color: #95a5a6;
    margin: 0.5em 1.5em;
    display: inline-block
}

#hamburger-icon .line.line-1 {
    top: 2px
}

#hamburger-icon .line.line-3 {
    top: 14px
}

#hamburger-icon .line {
    display: block;
    background: black;
    width: 22px;
    height: 2px;
    position: absolute;
    left: 0;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s
}

#hamburger-icon.active .line-2 {
    opacity: 0
}

#hamburger-icon .line.line-2 {
    top: 8px
}

#hamburger-icon.line:hover.line-3 {
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px)
}

#hamburger-icon a:hover, #hamburger-icon a:focus {
    color: black
}

#hamburger-icon a {
    text-decoration: none;
    color: black;
    margin: 0.5em 1.5em;
    display: inline-block
}

#hamburger-icon.active .line-1 {
    transform: translateY(6px) translateX(0) rotate(43deg);
    -webkit-transform: translateY(6px) translateX(0) rotate(43deg);
    -moz-transform: translateY(6px) translateX(0) rotate(43deg);
    background: white
}

#hamburger-icon.active .line-3 {
    transform: translateY(-6px) translateX(0) rotate(-46deg);
    -webkit-transform: translateY(-6px) translateX(0) rotate(-46deg);
    -moz-transform: translateY(-6px) translateX(0) rotate(-46deg);
    background: white
}

.mob-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url("../img/back-blue-fon.png");
    z-index: 3
}

.mob-menu > .listing-title {
    height: 58px;
    border-bottom: 1px solid #eee;
    margin: 0 20px
}

.icon-left {
    margin-right: 10px
}

.btn {
    color: #1b1b1b;
    padding: 12px 20px;
    text-transform: uppercase;
    font-family: "FedraSansArm-Bold";
    font-size: 15px;
    border-radius: 50px;
    display: flex;
    cursor: pointer;
    border: 0px;
    background-color: white;
    min-width: 35px;
    min-height: 35px
}

.btn-blue, .change-format {
    background-color: #e5f0f3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
    color: #333c84;
    margin: 0 0 0 20px
}

.btn-text-blue {
    background-color: initial;
    box-shadow: 0 0 0;
    transition: all 0.5s;
    color: #333c84;
    padding: 0px 30px;
    text-transform: uppercase;
    font-family: "FedraSansArm-Medium";
    font-size: 14px
}

.more-info i {
    font-size: 6px
}

.btn-blue:hover, .change-format:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}

.btn-icon-blue {
    font-size: 19px;
    color: #333c84;
    border-left: 1px solid #d6d8e6;
    padding: 0 0 0 16px
}

.btn:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}

.btn-white {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
    position: relative
}

.btn-serch {
    box-shadow: 0 8px 21px 2px rgba(0, 0, 0, 0.3);
    position: relative;
    color: #fff;
    padding: 20px 25px;
    text-transform: uppercase;
    font-family: "FedraSansArm-Bold";
    font-size: 20px;
    background-color: #dc2341;
    letter-spacing: 1.5px;
    margin: auto;
    margin-top: -30px
}

.btn-red {
    color: #fff;
    padding: 14px 20px;
    text-transform: uppercase;
    font-family: "FedraSansArm-Bold";
    font-size: 14px;
    background-color: #dc2341;
    margin: 18px;
    letter-spacing: 1.5px
}

.btn-more {
    color: #333c84;
    padding: 15px;
    text-transform: uppercase;
    font-family: "FedraSansArm-Bold";
    font-size: 14px;
    background-color: inherit
}

.btn-pink {
    color: #dc2341;
    padding: 14px;
    text-transform: uppercase;
    font-family: "FedraSansArm-Light";
    font-size: 14px;
    background-color: #fce9ec;
    margin: 20px
}

.btn-pink > section {
    font-family: "NoahTT-bold";
    font-size: 14px
}

.btn-pink i {
    font-size: 6px
}

.btn:focus {
    outline: none
}

.icon {
    font-size: inherit;
    display: inline-flex
}

.th.flex-wrapper > .btn-pink {
    padding: 0px 10px 6px;
    margin: 15px;
    position: relative
}

.th.flex-wrapper > .btn-pink > .icon-arrow-down {
    position: absolute;
    bottom: 7px
}

footer {
    background-image: url("../img/footer-fon.png");
    margin-top: 70px
}

.footer-logo, .zoom-icon {
    margin: 25px 0;
    justify-content: left
}

.zoom-icon a {
    margin-right: 20px
}

i.icon.icon-location {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    color: #333c84;
    padding: 5px
}

.footer-menu, .All-rights-reserved {
    margin: 12.5px 0
}

.footer-menu a {
    color: #fff;
    padding: 0px 12px;
    text-transform: initial;
    font-family: "NoahTT-reg";
    font-size: 15px;
    text-align: center
}

.footer-soc-icon a {
    margin: 0px 0 0 20px;
    color: white;
    font-size: 20px;
    line-height: normal
}

.footer-soc-icon a:first-child {
    margin: 0
}

.All-rights-reserved {
    color: #fff;
    padding: 0px 12px;
    text-transform: initial;
    font-family: "NoahTT-reg";
    font-size: 13px;
    opacity: 0.5
}

.bord:before {
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    background-color: #616161;
    margin: 0 15px
}

main {
    display: block;
    position: relative;
    margin-top: 90px;
    overflow: hidden;
    padding-bottom: 30px
}

header {
    padding: 22px 15px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 4;
    right: 0
}

.colum-flex {
    flex: 2
}

.logo-text {
    display: none;
    margin-left: 10px
}

a {
    text-decoration: none
}

.messeng-indicator {
    width: 20px;
    height: 20px;
    color: #fff;
    padding: 0;
    text-transform: initial;
    font-family: "NoahTT-bold";
    font-size: 14px;
    border-radius: 50%;
    background-color: #dc2341
}

.wrapper.popup-menu {
    display: none;
    position: absolute;
    top: 62px;
    left: -50%;
    right: -50%;
    z-index: 1;
    padding: 0 10px;
    margin: auto;
    width: fit-content
}

.wrapper.popup-menu a {
    padding: 10px 0;
    border-bottom: 1px solid #eee
}

.wrapper.popup-menu a:last-child {
    border-bottom: 0px
}

.wrapper.popup-menu > .listing-title > .left > section {
    color: #333c84;
    padding: 0 10px;
    text-transform: initial;
    font-family: "FedraSansArm-Medium";
    font-size: 16px
}

.right > section > .messeng-indicator {
    color: #dc2341;
    background-color: #fce9ec
}

.btn-white > .messeng-indicator {
    position: absolute;
    top: -7px;
    right: -5px
}

.inform-link a {
    color: #1b1b1b;
    padding: 0px 35px 0 0;
    text-transform: initial;
    font-family: "FedraSansArm-Book";
    font-size: 16px;
    display: inline-flex
}

.inform-link a:last-child {
    padding: 0
}

.piramid {
    position: absolute;
    height: 20px;
    width: 20px;
    box-shadow: 0px 5px 55px -16px rgba(0, 0, 0, 0.4);
    background-color: white;
    top: -10px;
    left: 0;
    right: 0;
    border-radius: 0 !important;
    margin: auto;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.gradient {
    display: none
}

.listing-icon > .icon-car {
    font-size: 45px;
    color: white
}

.back-fon {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: inherit;
    margin: 0;
    background-size: cover;
    background-position: center;
    z-index: -1;
    background-color: #f1f1f1
}

.filter-title {
    color: #fff;
    padding: 0;
    text-transform: initial;
    font-family: "FedraSansArm-Book";
    font-size: 18px;
    text-align: center;
    margin: 50px 0
}

.filter-title:before {
    display: block;
    content: "";
    height: 2px;
    width: 25px;
    background-color: white;
    opacity: 0.5;
    margin: 0 auto 10px
}

.wrapper {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 7.6px 0.4px rgba(0, 0, 0, 0.2), 0px 12px 27.55px 1.45px rgba(0, 0, 0, 0.13)
}

.filter-home {
    color: #1b1b1b;
    padding: 37px 70px 70px 70px;
    text-transform: initial;
    font-family: "FedraSansArm-Book";
    font-size: 43px;
    line-height: 80px
}

.filter-home > .one > .custom-select > .select-items {
    column-count: 3;
    padding: 15px;
    overflow: inherit
}

.filter-home > .one > .custom-select > .select-items > div {
    margin: 0;
    width: max-content;
    padding: 6px 20px 6px 6px
}

.click-ther:hover {
    color: #dc2341;
    border-color: #dc2341
}

.click-ther i {
    font-size: 11px;
    margin-left: 10px;
    color: #9e9e9e
}

.click-ther p {
    margin: 0
}

.click-ther > .icon-arrow-down.active {
    color: #dc2341;
    opacity: 0.5
}

.filter-home-atr, .click-ther {
    font-family: "FedraSansArm-Medium";
    cursor: pointer;
    border-bottom: 4px dotted #616161;
    font-size: 40px;
    line-height: 75px
}

.filter-home-atr > .icon-dram {
    font-size: 24px;
    margin-top: 2px
}

.filter-home-atr:hover {
    color: #dc2341;
    border-color: #dc2341
}

span#drop-down {
    position: relative
}

.drop-select-menu {
    display: none
}

.drop-select-menu.active {
    position: absolute;
    z-index: 1;
    top: 123px;
    left: 50px;
    right: 50px
}

.one {
    position: relative
}

.drop-menu-punkt:hover {
    font-family: "NoahTT-bold";
    border-left: 3px solid #dc2341;
    padding-left: 8px
}

.drop-menu.wrapper.active {
    position: absolute;
    top: 88px;
    bottom: inherit;
    left: -65%;
    right: -50%;
    margin: auto;
    z-index: 1;
    max-height: 280px
}

.drop-menu-section {
    flex: auto;
    margin: 30px 0;
    padding: 0 15px
}

.drop-menu-section:first-child {
    border-right: 2px dotted #eee
}

.drop-section {
    flex-flow: row wrap
}

.drop-menu-punkt-section {
    min-width: 300px
}

.hide > .select-selected > .select-items {
    opacity: 0
}

.drop-menu-title {
    color: #616161;
    padding: 0px 10px 10px 10px;
    text-transform: uppercase;
    font-family: "NoahTT-bold";
    font-size: 14px;
    line-height: 1
}

.drop-menu-punkt {
    color: #1b1b1b;
    padding: 0 15px;
    text-transform: inherit;
    font-family: "NoahTT-reg";
    font-size: 18px;
    line-height: 1;
    flex: 0 0 50%;
    cursor: pointer;
    margin: 22px 0 0 0
}

.filter-home-atr input {
    width: 160px;
    border: 0px;
    line-height: 75px
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0
}

input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0
}

.best_offer_title {
    color: #1b1b1b;
    padding: 0px 0px 15px 0;
    text-transform: initial;
    font-family: "FedraSansArm-Medium";
    font-size: 30px;
    text-align: center;
    margin-top: 100px
}

.best_offer_title:before {
    display: block;
    content: "";
    height: 2px;
    width: 25px;
    background-color: #dc2341;
    margin: 0 auto 15px
}

.offer {
    height: 175px;
    border-radius: 9px;
    border: 2px solid #dedede;
    position: relative;
    color: #1b1b1b
}

.offer:hover {
    border-color: #f1b9c2;
    color: red
}

.offert-title {
    color: inherit;
    padding: 0px 20px;
    font-family: "NoahTT-bold";
    font-size: 18px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    margin: auto;
    text-align: center
}

.offert-title span {
    background-color: white;
    color: inherit;
    padding: 0px 15px;
    text-transform: initial;
    font-family: "NoahTT-bold";
    font-size: 18px
}

.wrapper.pading {
    margin: 0px 0px 30px 0
}

.margin-top {
    margin-top: 40px
}

.pading {
    margin: 30px 0px
}

.pading_left, .pading_center, .pading_right {
    font-size: 80px;
    color: #333c84
}

.pading_left {
    margin: 30px 20px 30px 0
}

.pading_center {
    margin: 30px 10px
}

.pading_right {
    margin: 30px 0px 30px 20px
}

.custom-select {
    position: relative;
    display: inline-flex
}

.custom-select select {
    display: none
}

.select-selected:after {
    position: absolute;
    content: "\f103";
    font-family: iconfont !important;
    top: 0;
    font-size: 8px;
    color: #9e9e9e;
    right: 5px;
    border: 6px solid transparent;
    bottom: 0;
    margin: auto
}

.filter-home-atr > .custom-select > .select-selected:after {
    font-size: 11px
}

.custom-select.wrapper {
    position: relative;
    display: inline-flex;
    width: 100%;
    padding: 0px 15px;
    margin: 10px 0;
    border-radius: 4px;
    line-height: 40px
}

.select-selected.select-arrow-active:after {
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    color: #dc2341;
    opacity: 0.5
}

.select-items div, .select-selected {
    cursor: pointer;
    padding-right: 45px;
    width: 100%
}

.select-items {
    position: absolute;
    background-color: white;
    top: 104%;
    color: #1b1b1b;
    z-index: 1;
    min-width: max-content;
    left: 0;
    max-height: 185px;
    overflow-y: scroll;
    right: 0;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25), 0px 3px 8px 0px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    padding: 10px
}

.select-items div {
    width: 100%;
    color: #1b1b1b;
    padding: 0 0 0 10px;
    text-transform: inherit;
    font-family: "NoahTT-reg";
    font-size: 18px;
    line-height: 18px;
    margin: 10px 0
}

.select-hide {
    display: none
}

.select-items div:hover {
    font-family: "NoahTT-bold";
    border-left: 3px solid #dc2341;
    padding-left: 8px
}

.come-back {
    letter-spacing: 1.5px;
    display: flex;
    color: #fff;
    padding: 30px 0;
    text-transform: initial;
    font-family: "FedraSansArm-Bold";
    font-size: 18px
}

.open-more-button {
    display: none;
    width: 40px;
    min-height: 60px;
    font-size: 10px;
    border-left: 1px solid #d6d8e6;
    color: #333c84
}

.come-back span {
    padding: 0 15px
}

.listing-title {
    color: #616161;
    padding: 0;
    text-transform: initial;
    font-family: "NoahTT-reg";
    font-size: 16px
}

.come-back-icon {
    width: 37px;
    height: 37px;
    background: rgba(254, 254, 254, 0.2);
    border-radius: 50%
}

.title-map > .come-back-icon {
    color: #333c84
}

.left {
    justify-content: left;
    flex: 1
}

.right {
    justify-content: flex-end;
    flex: 1
}

.listing-icon {
    display: flex;
    padding: 15px 0
}

.read-more {
    color: #333c84;
    padding: 25px 20px 0;
    text-transform: uppercase;
    font-family: "FedraSansArm-Bold";
    font-size: 15px;
    display: none;
    cursor: pointer
}

.container {
    display: block;
    position: relative;
    padding: 9px 0 9px 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer
}

.checkmark {
    position: absolute;
    top: 10px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    box-shadow: 0 3px 12px 0px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin: auto
}

.container:hover input ~ .checkmark {
    background-color: white
}

.container input:checked ~ .checkmark {
    background-color: #dc2341;
    box-shadow: none
}

.checkmark:after {
    content: "\f11f";
    position: absolute;
    display: none
}

.container input:checked ~ .checkmark:after {
    display: block
}

.container .checkmark:after {
    content: "\f11f";
    font-family: iconfont !important;
    color: white;
    font-size: 9px
}

.check-drop-down, .check-box {
    background-color: #f1f1f1;
    color: #1b1b1b;
    padding: 10px 18px;
    text-transform: initial;
    font-family: "NoahTT-reg";
    font-size: 15px
}

.check-drop-down-wrapper:last-child .check-drop-down {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px
}

.check-box:before {
    border-top: 3px dotted #dedede;
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    top: -10px;
    position: relative
}

.container:last-child {
    margin-bottom: 0
}

.check-drop-down-wrapper.active > .check-drop-down {
    height: 0px;
    overflow: hidden;
    opacity: 1;
    padding: 0
}

.check-drop-title {
    color: #1b1b1b;
    padding: 20px;
    text-transform: initial;
    font-family: "NoahTT-bold";
    font-size: 15px;
    cursor: pointer
}

.category-title {
    color: #1b1b1b;
    padding: 25px;
    text-transform: initial;
    font-family: "FedraSansArm-Bold";
    font-size: 17px
}

.category-logo {
    padding: 25px
}

.table {
    background-color: #f1f1f1;
    width: 100%
}

.table-pise {
    width: -webkit-fill-available;
    padding: 15px 0
}

.table-pise-text {
    color: #1b1b1b;
    padding: 0px 15px;
    text-transform: initial;
    font-family: "NoahTT-bold";
    font-size: 17px;
    text-align: left
}

.table-pise-title {
    min-height: 38px;
    color: #1b1b1b;
    padding: 0 15px;
    text-transform: initial;
    font-family: "NoahTT-reg";
    font-size: 13px
}

.table-pise-title i {
    color: #a3a3a3
}

span {
    display: inline-flex
}

.min-pading {
    margin: 0px 0 10px;
    padding: 0 10px
}

.warning {
    position: relative;
    color: #616161;
    padding: 15px;
    text-transform: initial;
    font-family: "NoahTT-reg";
    font-size: 14px;
    border-radius: 5px
}

.warning span {
    padding: 0 30px 0 15px
}

.label {
    color: #616161;
    padding: 10px 5px;
    text-transform: initial;
    font-family: "NoahTT-bold";
    font-size: 14px
}

.slid-wrapper input {
    color: #1b1b1b;
    padding: 15px 20px;
    text-transform: initial;
    font-family: "NoahTT-bold";
    font-size: 20px;
    border: 0px;
    border-radius: 5px;
    background-color: #f1f1f1;
    width: 100%
}

.slid-wrapper {
    padding: 35px 40px;
    margin-bottom: 25px
}

.ui-widget.ui-widget-content {
    border: 0px;
    top: -0.5px
}

.ui-slider-horizontal {
    height: 3px;
    width: 93%
}

.ui-slider-horizontal .ui-slider-range {
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 90px
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #ececec;
    background: white;
    margin-left: 0
}

.ui-slider-horizontal .ui-slider-handle {
    top: -10px;
    background-image: url(../img/dots.svg) !important;
    background-repeat: no-repeat;
    background-position: center
}

.ui-widget-header {
    background-color: #dc2341
}

.rel {
    position: relative;
    margin-bottom: 10px
}

.rel i {
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 20px;
    margin: -9px 0 0;
    height: max-content;
    color: #616161
}

.chenge-time {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    height: max-content;
    color: #9a9a9a;
    padding: 10px 5px;
    text-transform: initial;
    font-family: "NoahTT-bold";
    font-size: 14px
}

.chenge-time-active.active {
    color: #dc2341
}

i.chenge {
    margin: 0 10px;
    opacity: 0.5;
    cursor: pointer
}

i.icon-right {
    margin-left: 7px
}

i.chenge.active {
    opacity: 1
}

.icon-user {
    margin-right: 10px
}

.icon-list-tow {
    margin-right: 10px
}

.btn-pink > .icon-right {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.add-result.pading {
    margin: 10px 10px;
    border: 2px dashed #d6d8e6;
    border-radius: 5px;
    position: relative
}

table tbody tr.hide-show {
    box-shadow: 0px 15px 40px -16px rgba(0, 0, 0, 0.4);
    border-bottom: 2px dashed #d6d8e6
}

i.icon.icon-down.icon-arrow-down {
    font-size: 6px
}

.flex-wrapper button.btn.btn-pink div {
    min-width: 15px;
    max-height: 15px
}

.btn-pink span {
    padding: 0 10px
}

.change-format {
    background-color: initial
}

.table-wrap {
    border-top: 1px solid #d6d8e6
}

.add-function {
    margin-right: 16px
}

.add-function a {
    font-size: 19px;
    margin: 0 10px;
    color: #585858
}

.hide-show {
    display: none;
    padding-bottom: 1px
}

.pad-not {
    padding: 0
}

.td {
    color: #616161;
    padding: 20px 20px 20px 0;
    text-transform: initial;
    font-family: "NoahTT-bold";
    font-size: 12px;
    width: 16.66666%;
    cursor: pointer
}

.table-wrapper {
    width: 100%
}

.th {
    width: 16.666%;
    color: #1b1b1b;
    padding: 15px 0px;
    text-transform: initial;
    font-family: "NoahTT-reg";
    font-size: 17px
}

.th img {
    width: 80%
}

.th.flex-wrapper > .btn.btm-more > .icon-right {
    margin: 0
}

.tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit
}

.flex-wrapper span .come-back-icon {
    background: rgba(173, 176, 205, 0.3);
    height: 21px;
    width: 21px
}

.td > .flex-wrapper {
    color: blue
}

.flex-wrapper > .btn {
    margin: 0px 7px;
    font-size: 15px;
    padding: 10px 10px
}

.flex-wrapper > .btn-more {
    border-left: 1px solid #d6d8e6;
    border-radius: 0
}

.hide-show > .table-wrapper {
    border-bottom: 1px dashed #d6d8e6
}

.hide-show > .table-wrapper:last-child {
    border-bottom: 0
}

.title-map {
    color: #333c84
}

.title-map > .come-back-icon {
    background: rgba(51, 60, 160, 0.29);
    color: #333c84
}

.bank-informetion-wrapper {
    padding: 10px 20px;
    margin-bottom: 25px
}

.bank-informetion {
    color: #1b1b1b;
    padding: 10px 0;
    text-transform: initial;
    font-family: "Tamoha-reg";
    font-size: 14px;
    border-bottom: 1px solid #d6d8e6;
    display: flex
}

.bank-informetion i {
    font-size: 20px;
    color: #333c84;
    margin-right: 10px
}

.bank-informetion:last-child {
    border: 0px
}

.map {
    min-height: 340px;
    overflow: hidden;
    background-color: #f1f1f1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}

.map-chenge {
    color: #1b1b1b;
    padding: 20px 0;
    text-transform: initial;
    font-family: "FedraSansArm-Book";
    font-size: 16px;
    margin: 0px 30px;
    cursor: pointer
}

.map-chenge:nth-child(2) {
    margin: 0px
}

.map-chenge.active {
    border-bottom: 3px solid #dc2341;
    font-family: "FedraSansArm-Bold"
}

.listing-title.ATM_location_info {
    background-color: white;
    border-bottom: 1px solid #d6d8e6;
    border-top: 1px solid #d6d8e6;
    padding: 18px 35px
}

.listing-title.ATM_location_info:last-child {
    border: 0px
}

.listing-title > .left > span {
    font-family: "NoahTT-bold";
    padding: 0 5px
}

.ATM_name {
    color: #1b1b1b;
    padding: 0;
    text-transform: initial;
    font-family: "NoahTT-bold";
    font-size: 15px
}

.ATM_location a {
    color: #1b1b1b;
    padding: 0;
    text-transform: initial;
    font-family: "NoahTT-reg";
    font-size: 15px
}

.ATM_location a:hover {
    text-decoration: underline solid #d6d8e6;
    text-underline-position: under
}

.listing-icon > .btn-text-blue > .chenge {
    opacity: 1;
    margin: 0
}

.compare_title {
    color: #333c84;
    padding: 65px 20px 45px 20px;
    text-transform: initial;
    font-family: "FedraSansArm-Bold";
    font-size: 40px;
    text-align: center
}

.compare_name_title > .icon-money {
    font-size: 50px;
    margin-right: 10px
}

.compare_name_title {
    color: #616161;
    padding: 20px;
    text-transform: initial;
    font-family: "NoahTT-bold";
    font-size: 18px;
    background-color: white;
    min-height: 120px;
    text-align: center
}

.compare_name_podtitle, .servis_name {
    color: #616161;
    padding: 20px;
    text-transform: initial;
    font-family: "NoahTT-bold";
    font-size: 16px
}

.compare_name_podtitle:nth-child(2n), .servis_name:nth-child(2n) {
    background-color: #f5f5f5
}

.compare_name {
    border-right: 1px solid #d6d8e6
}

.compare_name_servis {
    width: 25%;
    border-right: 1px solid #d6d8e6
}

.slider-info {
    width: 75%;
    overflow: hidden
}

.slider {
    overflow: hidden
}

.owl-nav button {
    position: absolute
}

button.owl-prev {
    background-image: url(../img/pre.png) !important;
    background-repeat: no-repeat !important;
    background-position: 24px 15px !important;
    position: absolute;
    top: 40px;
    height: 40px;
    background-color: #f5f5f5 !important;
    width: 40px;
    border-radius: 50%;
    left: -20px
}

button.owl-next {
    background-image: url(../img/next.png) !important;
    background-repeat: no-repeat !important;
    background-position: 9px 15px !important;
    position: absolute;
    top: 40px;
    height: 40px;
    background-color: #f5f5f5 !important;
    width: 40px;
    border-radius: 50%;
    right: -20px
}

.compare_name_title {
    position: relative
}

.close, .close-warning {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 15px;
    color: #d6d8e6;
    font-size: 15px;
    height: 15px
}

.close:hover {
    color: #dc2341
}

.compare-item {
    font-size: 14px
}

.servis_name {
    font-family: "NoahTT-reg";
    color: #1b1b1b
}

.compare-item img {
    padding: 10px 0;
    width: 50% !important
}

.phone_number, .work_time {
    color: black
}

.change_item > .listing-title.ATM_location_info:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}

.popup-over, .popup-over-menu {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    z-index: 16;
    overflow: scroll
}

.all-conditions, .menu-header {
    color: #1b1b1b;
    padding: 20px 15px;
    text-transform: initial;
    font-family: "FedraSansArm-Bold";
    font-size: 17px;
    border-bottom: 1px solid #d6d8e6;
    box-shadow: 0px 0px 7.6px 0.4px rgba(0, 0, 0, 0.06), 0px 12px 30px 1.45px rgba(0, 0, 0, 0.08);
    position: relative
}

.menu-header > .icon-left {
    margin-right: 5px
}

.popup-over > .close-warning {
    font-size: 20px;
    z-index: 3;
    line-height: 0;
    right: 20px;
    top: 20px;
    color: #1b1b1b
}

.popup-over-menu > .close-warning {
    font-size: 20px;
    z-index: 3;
    line-height: 0;
    right: 20px;
    top: 20px;
    color: #1b1b1b
}

.warning > .icon {
    height: max-content;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 10px;
    background: rgba(51, 60, 132, 0.31);
    border-radius: 5px;
    color: #333c84
}

.listing-title.product-wrapper > .left {
    flex: 4
}

.margins {
    margin: 27px 0;
    position: relative;
    height: max-content
}

.product-title {
    color: #1b1b1b;
    padding: 0px 0px 12px 0px;
    text-transform: initial;
    font-family: "FedraSansArm-Bold";
    font-size: 30px
}

.product-inform {
    color: #1b1b1b;
    padding: 0px;
    text-transform: initial;
    font-family: "NoahTT-reg";
    font-size: 16px;
    height: 100px;
    overflow: hidden;
    position: relative
}

.product-inform.active {
    overflow: initial;
    height: fit-content
}

.blurring {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-image: -moz-linear-gradient(90deg, #f1f1f1 0%, rgba(243, 243, 243, 0) 100%);
    background-image: -webkit-linear-gradient(90deg, #f1f1f1 0%, rgba(243, 243, 243, 0) 100%);
    background-image: -ms-linear-gradient(90deg, #f1f1f1 0%, rgba(243, 243, 243, 0) 100%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 60px;
    z-index: 1
}

.more-info {
    display: inline-flex
}

.more-info > .btn-text-blue span {
    cursor: pointer;
    padding: 0;
    margin: 0 5px 0 0
}

.more-info > .btn-text-blue {
    padding: 20px 0
}

.right-border {
    border: 1px solid #333c84;
    border-radius: 50%;
    padding: 7px 9px;
    width: 30px;
    height: 30px;
    margin-right: 10px
}

.add-functions > .btn-red {
    margin: 0
}

.add-functions {
    flex-wrap: wrap;
    align-items: flex-start;
    width: min-content
}

.add-functions > .btn-more {
    font-size: 13px;
    font-family: "FedraSansArm-Medium";
    text-transform: initial
}

.listing-title.product-wrapper > .right {
    align-items: flex-start
}

.add-functions a {
    padding: 30px 0 0 0
}

.document-title {
    color: #1b1b1b;
    padding: 20px 35px;
    text-transform: initial;
    font-family: "FedraSansArm-Bold";
    font-size: 17px
}

.document {
    color: #1b1b1b;
    padding: 10px 35px;
    text-transform: initial;
    font-family: "NoahTT-reg";
    font-size: 16px
}

.documents-cont:nth-child(3) {
    border-right: 0
}

.document-wrapper {
    padding: 15px 0;
    border-top: 1px solid #d6d8e6;
    position: relative;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3
}

.document-wrapper:after {
    display: block;
    content: "";
    height: auto;
    position: absolute;
    width: 1px;
    top: 30px;
    left: 33.3333%;
    bottom: 30px;
    border-left: 2px dashed #d6d8e6
}

.document-wrapper:before {
    display: block;
    content: "";
    height: auto;
    position: absolute;
    width: 1px;
    top: 30px;
    right: 33.3333%;
    bottom: 30px;
    border-left: 2px dashed #d6d8e6
}

.document-wrapper > .blurring {
    display: none
}

.document-wrapper.active {
    height: fit-content
}

.wrapper > .more-info {
    display: none
}

.documents-cont {
    flex: 1;
    border-right: 2px dashed #d6d8e6
}

table.prise-table {
    border-top: 1px solid #d6d8e6;
    text-align: center;
    padding: 0px 35px 40px;
    border-spacing: 0px
}

table.prise-table tr:first-child th {
    border-bottom: 2px dashed #d6d8e6
}

table.prise-table th {
    padding: 13px 20px
}

table.prise-table td {
    padding: 13px 20px
}

table.prise-table tr:nth-child(2) {
    background-color: white !important
}

table.prise-table tr:nth-child(2) th {
    padding: 3px
}

table.prise-table tr:nth-child(2n) {
    background-color: #f6f6f6
}

table.prise-table tr td:first-child {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px
}

table.prise-table tr td:last-child {
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px
}

.margins > .bank-listing-map > .gradient {
    height: initial
}

.item-scroll {
    overflow: scroll
}

.item-scroll.active {
    height: max-content
}

.margins > .blurring {
    display: none;
    background-image: -moz-linear-gradient(90deg, white 0%, rgba(243, 243, 243, 0) 100%);
    background-image: -webkit-linear-gradient(90deg, white 0%, rgba(243, 243, 243, 0) 100%);
    background-image: -ms-linear-gradient(90deg, white 0%, rgba(243, 243, 243, 0) 100%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    margin: auto;
    height: 60px;
    z-index: 1
}

.blurring.active {
    opacity: 0
}

.product-prise-wrapper {
    border-top: 1px solid #d6d8e6;
    height: max-content
}

.product-prise {
    color: #1b1b1b;
    padding: 0px;
    text-transform: initial;
    font-family: "NoahTT-reg";
    font-size: 16px
}

.product-prise i {
    font-size: 12px;
    margin-left: 6px
}

.prise-title {
    border-bottom: 2px dashed #d6d8e6;
    margin: 0 35px;
    padding: 16px 0
}

.prise-title:last-child {
    border: 0px
}

.total-prise-title {
    background-color: #f6f6f6;
    margin: 0px 20px 20px;
    border-radius: 50px;
    padding: 16px 0
}

.total-prise-title i {
    font-size: 12px;
    margin-left: 6px
}

.total-prise {
    color: #1b1b1b;
    padding: 0 16px;
    text-transform: initial;
    font-family: "NoahTT-bold";
    font-size: 16px;
    flex: auto
}

.wrapper.margins.prise > .more-info {
    display: none
}

.prise-title > .left {
    flex: 3
}

.chenge-wrap {
    padding: 10px 35px
}

.chenge-wrap > .chenge.active {
    color: #dc2341;
    background-color: #fce9ec;
    border-radius: 50px;
    padding: 13px 20px
}

.chenge-wrap > .chenge {
    color: #616161;
    padding: 0px;
    text-transform: initial;
    font-family: "FedraSansArm-Medium";
    font-size: 14px;
    margin-left: 20px
}

i.icon.icon-doc {
    color: #333c84;
    margin-right: 10px
}

.other-info {
    flex: 1
}

.prise-cont.other-info-wrapper.active {
    height: fit-content;
    overflow: hidden
}

.left.other-info-title {
    flex: 2;
    font-family: "NoahTT-bold";
    align-items: flex-start
}

.right.other-info-text {
    flex: 3;
    justify-content: flex-start
}

.other-info > .product-title .open-more-button {
    display: none
}

button {
    cursor: pointer
}

.animet {
    width: 52px;
    background-image: url(../img/ezgif-2-6bc5e678ec.png);
    background-size: cover
}

.animet:hover {
    animation: play 6s steps(80) infinite;
    -webkit-animation: play 6s steps(80) infinite;
    -moz-animation: play 6s steps(80) infinite;
    -ms-animation: play 6s steps(80) infinite;
    -o-animation: play 6s steps(80) infinite
}

@-webkit-keyframes play {
    from {
        background-position: 0px
    }
    to {
        background-position: -4146px
    }
}

@-moz-keyframes play {
    from {
        background-position: 0px
    }
    to {
        background-position: -4146px
    }
}

@-ms-keyframes play {
    from {
        background-position: 0px
    }
    to {
        background-position: -4146px
    }
}

@-o-keyframes play {
    from {
        background-position: 0px
    }
    to {
        background-position: -4146px
    }
}

@keyframes play {
    from {
        background-position: 0px
    }
    to {
        background-position: -4146px
    }
}

.chart {
    min-height: 400px;
    border-bottom: 1px solid #eee;
    padding: 1em
}

.pieChart--center--innerCircle {
    fill: white
}

.pieChart--center--text {
    font-size: 28px
}

.pieChart--center--outerCircle {
    fill: white
}

.pieChart--detail--divider {
    stroke: adjust-lightness(#333, 30);
    stroke-width: 1
}

.pieChart--detail--percentage {
    font-size: 42px;
    font-weight: 100;
    fill: #333;
    stroke-width: 1px
}

.pieChart--detail--textContainer {
    background-color: transparent;
    padding: 10px 0 0 0;
    margin: 0;
    color: #666;
    font-style: italic
}

.pieChart--detail__left {
    text-align: left
}

.pieChart--detail__right {
    text-align: right
}

.pieChart__blue {
    fill: #333c84
}

.pieChart__red {
    fill: #dc2341
}

.position {
    width: 290%;
    left: -100%;
    bottom: -81px
}

.wrapper.wrapper-diogram {
    flex: 15
}

.all-price-title {
    color: #1b1b1b;
    padding: 0;
    text-transform: initial;
    font-family: "NoahTT-reg";
    font-size: 15px
}

.all-total-price {
    color: #1b1b1b;
    padding: 0;
    text-transform: initial;
    font-family: "NoahTT-bold";
    font-size: 23px
}

.all-total-price > .icon-dram {
    font-size: 15px
}

.final-settlement {
    display: grid;
    flex: 4;
    margin-left: 30px
}

.all-price, .pircent-price {
    margin: 15px 0
}

.end-price {
    background-color: #eee;
    padding: 28px 22px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px
}

.all-price {
    position: relative;
    padding: 0 30px 0 15px
}

.all-price::after {
    position: absolute;
    content: "";
    top: 0;
    background-color: #dc2341;
    left: -4px;
    border-radius: 50px;
    bottom: 0;
    margin: auto;
    height: 80%;
    width: 4px
}

.pircent-price {
    position: relative;
    padding: 0 30px 0 15px
}

.pircent-price::after {
    position: absolute;
    content: "";
    top: 0;
    background-color: #333c84;
    left: -4px;
    border-radius: 50px;
    bottom: 0;
    margin: auto;
    height: 80%;
    width: 4px
}

.diogram {
    width: 200px;
    position: relative
}

#pieChart {
    position: absolute;
    top: -33px;
    left: -60px
}

.chart-container {
    position: relative
}

text.pieChart--detail--percentage {
    display: none
}

svg#pieChartSVG {
    width: 300px;
    height: 300px
}

.image-shadow-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 7.6px 0.4px rgba(0, 0, 0, 0.06), 0px 12px 27.55px 1.45px rgba(0, 0, 0, 0.13)
}

.image-shadow-container img {
    width: 100%
}

.gradient-panel {
    background-image: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0.13) 100%);
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0.13) 100%);
    background-image: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0.13) 100%);
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0.13) 100%)
}

.pined-absolute {
    position: absolute
}

.pined-abolute--left {
    left: 0
}

.pined-abolute--top-fluid {
    top: 0;
    left: 0;
    right: 0
}

.align-vertical-middle {
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.z-lines-picture {
    height: 201px
}

.visible-index {
    position: relative;
    z-index: 1
}

.h1 {
    font-family: "FedraSansArm-Bold";
    font-size: 40px;
    line-height: 1.2;
    color: #333c84;
    margin: 60px 0 32px
}

.h4 {
    font-family: "FedraSansArm-Bold";
    font-size: 20px;
    line-height: 1.2;
    color: black;
    margin: 25px 0 20px
}

.no-spaces {
    margin: 0
}

.fluid-vertical {
    height: 100%
}

.fluid-both {
    width: 100%;
    height: 100%
}

.content_richtext {
    font-family: "FedraSansArm-Book";
    font-size: 17px;
    line-height: 28px;
    color: black;
    margin: 35px 0 30px
}

.content_richtext blockquote, .content_richtext cite {
    border-left: 5px solid #dd2341;
    font-family: "FedraSansArm-Medium";
    font-size: 20px;
    line-height: 32px;
    color: black;
    font-style: italic;
    margin: 15px 0;
    padding: 15px 0 15px 20px
}

.content_richtext a {
    /*color: #dd2341*/

}
.about_us_content a{
    display: contents;
}

.content_richtext a:hover {
    text-decoration: underline
}

.custom-card {
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 0px 7.6px 0.4px rgba(0, 0, 0, 0.06), 0px 12px 27.55px 1.45px rgba(0, 0, 0, 0.13);
    margin: 0 0 25px;
    height: calc(100% - 25px)
}

.box-spaced {
    padding: 20px 35px 20px
}

.inherit-height {
    height: inherit
}

.relative {
    position: relative
}

.sitemap {
    margin: 0;
    padding: 16px 15px 16px 20px
}

.sitemap a {
    color: #333c84
}

.sitemap a:hover {
    text-decoration: underline
}

.sitemap li {
    list-style: none;
    margin: 8px 0
}

.sitemap li > a {
    font-family: "FedraSansArm-Medium";
    font-size: 18px;
    line-height: 1
}

.sitemap li ul:not(:only-child) {
    padding-left: 20px
}

.sitemap li ul:not(:only-child) a {
    font-family: "FedraSansArm-Book";
    font-size: 16px;
    line-height: 1
}

.contacts {
    padding: 17px;
    margin: 0
}

.contacts li {
    list-style: none;
    border-top: 1px solid #dfdfdf;
    padding: 13px 0
}

.contacts li:first-child {
    border-top: 0;
    padding-top: 0
}

.contacts li:last-child {
    padding-bottom: 0
}

.contacts .icon {
    color: #333c84;
    margin-right: 10px
}

.contacts span {
    font-family: "Tahoma";
    font-size: 14px;
    line-height: 1.5;
    color: black;
    width: calc(100% - 45px)
}

.map_wrapper {
    overflow: hidden;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 5.7px 0.3px rgba(0, 0, 0, 0.2), 0px 12px 27.55px 1.45px rgba(0, 0, 0, 0.13);
    height: 394px
}

.gmnoprint, .map_wrapper a[rel="noopener"] {
    display: none !important
}

.back_btn {
    display: inline-block;
    text-align: center;
    background-color: #e6e7ee;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    line-height: 41px
}

.back_btn .icon {
    color: #333c84
}
